use ytdemo;

pragma Engine = "ytflow";

pragma Ytflow.Cluster = "ytdemo";
pragma Ytflow.PipelinePath = "$PIPELINE_PATH";

pragma Ytflow.YtConsumerPath = "$SCENARIO_ROOT/main_consumer";
pragma Ytflow.YtProducerPath = "$SCENARIO_ROOT/main_producer";

pragma Ytflow.Pool = "$YT_POOL";

pragma Ytflow.ControllerRpcPort = "27190";
pragma Ytflow.ControllerMonitoringPort = "27191";
pragma Ytflow.WorkerRpcPort = "27192";
pragma Ytflow.WorkerMonitoringPort = "27193";

pragma Ytflow.ControllerCount = "1";
pragma Ytflow.ControllerCpuLimit = "1.0";
pragma Ytflow.ControllerMemoryLimit = "1G";

pragma Ytflow.WorkerCount = "1";
pragma Ytflow.WorkerCpuLimit = "1.0";
pragma Ytflow.WorkerMemoryLimit = "1G";

replace into `$SCENARIO_ROOT/output_table`
select key, value from `$SCENARIO_ROOT/input_queue`
order by key;
