.venv/
__pycache__/
*.pyc
env.sh
pipeline.yson
*.stripped
.cache/
pipeline_java.yson
.gradle/
working_pipeline_telemetry/companion_java/build/
working_pipeline_telemetry/logs/
working_pipeline_telemetry/companion_java/logs/
