.venv/
__pycache__/
*.pyc
env.sh
pipeline*.yson
*.stripped
.cache/
transform_high_throughput/companion_java/.gradle/
transform_high_throughput/companion_java/build/
transform_high_throughput/companion_java/lib/
transform_high_throughput/companion_java/logs/
!word_count_sync_java/src/test/resources/pipeline.yson
word_count_sync_java/.gradle/
word_count_sync_java/build/
word_count_sync_java/lib/
word_count_sync_java/logs/
