{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/test_distributed_throttler/pipeline";
    "spec" = {
        "computations" = {
            "reader" = {
                "computation_class_name" = "NYT::NFlow::TSwiftPassthroughOrderedSourceComputation";
                "input_stream_ids" = [];
                "output_stream_ids" = ["data"];
                "source_streams" = {
                    "queue" = {
                        "source_class_name" = "NYT::NFlow::TQueueSource";
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/test_distributed_throttler/input_queue";
                            "consumer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/test_distributed_throttler/consumer";
                            "finite" = %true;
                        };
                    };
                };
            };
            "throttled" = {
                "computation_class_name" = "NYT::NFlow::TPassthroughComputation";
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(value)"; "type" = "uint64"; required = %true;};
                    {"name" = "value"; "type" = "int64";};
                ];
                "input_stream_ids" = ["data"];
                "output_stream_ids" = ["out"];
                "sinks" = {
                    "queue" = {
                        "sink_class_name" = "NYT::NFlow::TSyncQueueSink";
                        "input_stream_ids" = ["out"];
                        "parameters" = {
                            "queue_path" = "${YT_DEV_ROOT}/test_distributed_throttler/output_queue";
                        };
                    };
                };
            };
        };
        "streams" = {
            "data" = {
                "schema" = [
                    {"name" = "value"; "type" = "int64";};
                ];
            };
            "out" = {
                "schema" = [
                    {"name" = "value"; "type" = "int64";};
                ];
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "reader" = {
                "batch_duration" = 100;
                "max_rows_per_batch" = 10;
            };
            "throttled" = {
                "parameters" = {"desired_partition_count" = 2;};
                "input_rows_throttler_id" = "api";
            };
        };
        "throttlers" = {
            "api" = {
                "limit" = 50.0;
                "period" = 1000;
            };
        };
        "job_tracker" = {
            "job_threads" = 4;
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "worker" = {"count" = 1;};
        "node_config" = {"address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};};
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
