{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "abort_on_specs_parseability_error" = %false;
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/working_pipeline_telemetry_java/pipeline";
    "spec" = {
        "computations" = {
            "reader" = {
                "computation_class_name" = "NYT::NFlow::NCompanion::TSwiftOrderedSourceCompanionComputation";
                "output_stream_ids" = ["data"];
                "source_streams" = {
                    "queue" = {
                        "source_class_name" = "NYT::NFlow::TQueueSource";
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/working_pipeline_telemetry_java/input_queue";
                            "consumer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/working_pipeline_telemetry_java/consumer";
                        };
                    };
                };
                "parameters" = {
                    "fail_key" = "1100";
                    "error_key" = "1101";
                    "fail_comment" = "TELEMETRY_DEMO_INTENTIONAL_FAIL";
                    "fail_attempts" = 8;
                };
                "required_resource_ids" = {
                    "CompanionManager" = {
                        "worker" = %true;
                        "controller" = %false;
                    };
                };
            };
            "processor" = {
                "computation_class_name" = "NYT::NFlow::NCompanion::TTransformCompanionComputation";
                "input_stream_ids" = ["data"];
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(key)"; "type" = "uint64"; "required" = %true;};
                    {"name" = "key"; "type" = "string";};
                ];
                "parameters" = {
                    "sleep_per_message_ms" = 2;
                };
                "required_resource_ids" = {
                    "CompanionManager" = {
                        "worker" = %true;
                        "controller" = %false;
                    };
                };
            };
        };
        "streams" = {
            "data" = {
                "schema" = [
                    {"name" = "key"; "type" = "string";};
                    {"name" = "data"; "type" = "string";};
                ];
            };
        };
        "resources" = {
            "CompanionManager" = {
                "resource_class_name" = "NYT::NFlow::NCompanion::TJavaCompanionManager";
                "parameters" = {
                    "main_class" = "tech.ytsaurus.flow.demo.telemetry.TelemetryMain";
                    "backoff" = {
                        "invocation_count" = 5;
                        "min_backoff" = 1000;
                        "max_backoff" = 3000;
                    };
                };
                "dependencies" = {};
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "reader" = {
                "batch_duration" = 100;
                "parameters" = {
                    "desired_partition_count" = 1;
                };
            };
            "processor" = {
                "batch_duration" = 100;
                "parameters" = {};
            };
        };
        "job_tracker" = {
            "job_threads" = 4;
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "controller" = {"count" = 1;};
        "worker" = {
            "count" = 1;
            "port_count" = 3;
            "docker_image" = "docker.io/library/eclipse-temurin:17-jre";
        };
        "node_config" = {
            "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};
        };
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
