use ytdemo;

pragma Engine = "ytflow";

pragma Ytflow.Cluster = "ytdemo";
pragma Ytflow.PipelinePath = "$PIPELINE_PATH";

pragma Ytflow.YtConsumerPath = "$SCENARIO_ROOT/main_consumer";
pragma Ytflow.YtProducerPath = "$SCENARIO_ROOT/main_producer";

pragma Ytflow.Pool = "$YT_POOL";

pragma Ytflow.ControllerRpcPort = "27120";
pragma Ytflow.ControllerMonitoringPort = "27121";
pragma Ytflow.WorkerRpcPort = "27122";
pragma Ytflow.WorkerMonitoringPort = "27123";

pragma Ytflow.ControllerCount = "1";
pragma Ytflow.ControllerCpuLimit = "1.0";
pragma Ytflow.ControllerMemoryLimit = "1G";

pragma Ytflow.WorkerCount = "1";
pragma Ytflow.WorkerCpuLimit = "1.0";
pragma Ytflow.WorkerMemoryLimit = "1G";

insert into `$SCENARIO_ROOT/output_queue`
select
    string_field || "_first" as string_field,
    int64_field
from `$SCENARIO_ROOT/input_queue_a`
union all
select
    string_field || "_second" as string_field,
    int64_field
from `$SCENARIO_ROOT/input_queue_b`
union all
select
    string_field || "_third" as string_field,
    int64_field
from `$SCENARIO_ROOT/input_queue_c`;
