use ytdemo;

pragma Engine = "ytflow";

pragma Ytflow.Cluster = "ytdemo";
pragma Ytflow.PipelinePath = "$PIPELINE_PATH";

pragma Ytflow.YtConsumerPath = "$SCENARIO_ROOT/main_consumer";
pragma Ytflow.YtProducerPath = "$SCENARIO_ROOT/main_producer";

pragma Ytflow.Pool = "$YT_POOL";

pragma Ytflow.ControllerRpcPort = "27100";
pragma Ytflow.ControllerMonitoringPort = "27101";
pragma Ytflow.WorkerRpcPort = "27102";
pragma Ytflow.WorkerMonitoringPort = "27103";

pragma Ytflow.ControllerCount = "1";
pragma Ytflow.ControllerCpuLimit = "1.0";
pragma Ytflow.ControllerMemoryLimit = "1G";

pragma Ytflow.WorkerCount = "1";
pragma Ytflow.WorkerCpuLimit = "1.0";
pragma Ytflow.WorkerMemoryLimit = "1G";

insert into `$SCENARIO_ROOT/output_queue`
select
    string_field || "_ytflow" as string_field,
    int64_field * 100 as int64_field,
    int64_field > 10 as bool_field
from `$SCENARIO_ROOT/input_queue`
where string_field = "foo" or int64_field >= 100;
