{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/shuffle/pipeline";
    "spec" = {
        "computations" = {
            "reader" = {
                "computation_class_name" = "NYT::NFlow::TSwiftPassthroughOrderedSourceComputation";
                "input_stream_ids" = [];
                "output_stream_ids" = ["event_in"];
                "source_streams" = {
                    "queue" = {
                        "source_class_name" = "NYT::NFlow::TQueueSource";
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/shuffle/input_queue";
                            "consumer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/shuffle/consumer";
                            "finite" = %true;
                        };
                    };
                };
            };
            "shuffle_a" = {
                "computation_class_name" = "NYT::NFlow::TPassthroughComputation";
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(key) * 1009"; "type" = "uint64"; required = %true;};
                    {"name" = "key"; "type" = "string";};
                ];
                "input_stream_ids" = ["event_in"];
                "output_stream_ids" = ["event_a"];
            };
            "shuffle_b" = {
                "computation_class_name" = "NYT::NFlow::TPassthroughComputation";
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(key) * 13"; "type" = "uint64"; required = %true;};
                    {"name" = "key"; "type" = "string";};
                ];
                "input_stream_ids" = ["event_a"];
                "output_stream_ids" = ["event_b"];
            };
            "shuffle_c" = {
                "computation_class_name" = "NYT::NFlow::TPassthroughComputation";
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(key) * 17"; "type" = "uint64"; required = %true;};
                    {"name" = "key"; "type" = "string";};
                ];
                "input_stream_ids" = ["event_b"];
                "output_stream_ids" = ["event_c"];
            };
            "shuffle_d" = {
                "computation_class_name" = "NYT::NFlow::TPassthroughComputation";
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(key)"; "type" = "uint64"; required = %true;};
                    {"name" = "key"; "type" = "string";};
                ];
                "input_stream_ids" = ["event_c"];
                "output_stream_ids" = ["event_out"];
                "sinks" = {
                    "queue" = {
                        "sink_class_name" = "NYT::NFlow::TSyncQueueSink";
                        "input_stream_ids" = ["event_out"];
                        "parameters" = {
                            "queue_path" = "${YT_DEV_ROOT}/shuffle/output_queue";
                        };
                    };
                };
            };
        };
        "streams" = {
            "event_in" = {
                "schema" = [
                    {"name" = "key"; "type" = "string";};
                    {"name" = "data"; "type" = "string";};
                ];
            };
            "event_a" = {
                "schema" = [
                    {"name" = "key"; "type" = "string";};
                    {"name" = "data"; "type" = "string";};
                ];
            };
            "event_b" = {
                "schema" = [
                    {"name" = "key"; "type" = "string";};
                    {"name" = "data"; "type" = "string";};
                ];
            };
            "event_c" = {
                "schema" = [
                    {"name" = "key"; "type" = "string";};
                    {"name" = "data"; "type" = "string";};
                ];
            };
            "event_out" = {
                "schema" = [
                    {"name" = "key"; "type" = "string";};
                    {"name" = "data"; "type" = "string";};
                ];
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "reader" = {};
            "shuffle_a" = {
                "parameters" = {"desired_partition_count" = 2;};
                "output_store" = {"max_chunk_message_count" = 1024;};
            };
            "shuffle_b" = {
                "parameters" = {"desired_partition_count" = 3;};
                "output_store" = {"max_chunk_message_count" = 1024;};
            };
            "shuffle_c" = {
                "parameters" = {"desired_partition_count" = 4;};
                "output_store" = {"max_chunk_message_count" = 1024;};
            };
            "shuffle_d" = {
                "parameters" = {"desired_partition_count" = 5;};
                "output_store" = {"max_chunk_message_count" = 1024;};
            };
        };
        "job_tracker" = {
            "job_threads" = 4;
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "worker" = {"count" = 4;};
        "node_config" = {"address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};};
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
