{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/transform_high_throughput_go/pipeline";
    "spec" = {
        "computations" = {
            "Reader" = {
                "computation_class_name" = "NYT::NFlow::TSwiftPassthroughOrderedSourceComputation";
                "input_stream_ids" = [];
                "output_stream_ids" = ["event"];
                "source_streams" = {
                    "queue" = {
                        "source_class_name" = "NYT::NFlow::TQueueSource";
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/transform_high_throughput_go/input_queue";
                            "consumer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/transform_high_throughput_go/consumer";
                        };
                    };
                };
                "parameters" = {};
            };
            "Reducer" = {
                "computation_class_name" = "NYT::NFlow::NCompanion::TTransformCompanionComputation";
                "group_by_schema" = [
                    {"name" = "hash"; "expression" = "farm_hash(key)"; "type" = "uint64"; "required" = %true;};
                    {"name" = "key"; "type" = "string";};
                ];
                "input_stream_ids" = ["event"];
                "output_stream_ids" = ["out"];
                "required_resource_ids" = {
                    "CompanionManager" = {
                        "worker" = %true;
                        "controller" = %false;
                    };
                };
                "sinks" = {
                    "output" = {
                        "sink_class_name" = "NYT::NFlow::TAsyncQueueSink";
                        "input_stream_ids" = ["out"];
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/transform_high_throughput_go/output_queue";
                            "producer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/transform_high_throughput_go/output_producer";
                        };
                    };
                };
                "parameters" = {
                    "internal_states" = ["state"];
                };
            };
        };
        "resources" = {
            "CompanionManager" = {
                "resource_class_name" = "NYT::NFlow::NCompanion::TCompanionManager";
                "parameters" = {};
                "dependencies" = {};
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "Reader" = {
            };
            "Reducer" = {
                "parameters" = {
                    "desired_partition_count" = 2;
                };
            };
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "controller" = {"count" = 1; "port_count" = 2;};
        "worker" = {"count" = 1;};
        "node_config" = {"address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};};
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
