{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/sorted_dynamic_table/delete/pipeline";
    "spec" = {
        "computations" = {
            "reader" = {
                "computation_class_name" = "NYT::NFlow::TSwiftPassthroughOrderedSourceComputation";
                "input_stream_ids" = [];
                "output_stream_ids" = ["data"];
                "source_streams" = {
                    "queue" = {
                        "source_class_name" = "NYT::NFlow::TQueueSource";
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/sorted_dynamic_table/delete/input_queue";
                            "consumer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/sorted_dynamic_table/delete/consumer";
                            "finite" = %true;
                        };
                    };
                };
                "sinks" = {
                    "table" = {
                        "sink_class_name" = "NYT::NFlow::NSortedDynamicTable::TSyncSink";
                        "input_stream_ids" = ["data"];
                        "parameters" = {
                            "table_path" = "${YT_DEV_ROOT}/sorted_dynamic_table/delete/output_table";
                            "delete_rows" = %true;
                            "column_filter" = ["data"];
                        };
                    };
                };
            };
        };
        "streams" = {
            "data" = {
                "schema" = [
                    {"name" = "data"; "type" = "string"; required = %true;};
                    {"name" = "i"; "type" = "int64"; required = %false;};
                ];
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "reader" = {
                "batch_duration" = 100;
            };
        };
        "job_tracker" = {
            "job_threads" = 4;
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "worker" = {"count" = 1;};
        "node_config" = {"address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};};
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
