{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/secret_env/pipeline";
    "spec" = {
        "computations" = {
            "checker" = {
                "computation_class_name" = "NYT::NFlow::NDemo::TSecretChecker";
                "source_streams" = {
                    "random" = {
                        "source_class_name" = "NYT::NFlow::TRandomSource";
                        "parameters" = {
                            "finite" = %true;
                        };
                    };
                };
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "checker" = {
                "source_streams" = {
                    "random" = {
                        "parameters" = {
                            "partition_count" = 1;
                            "partition_message_count" = 10;
                        };
                    };
                };
            };
        };
        "job_tracker" = {
            "job_threads" = 4;
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "worker" = {"count" = 1;};
        "secret_env" = ["YT_MY_SECRET"];
        "node_config" = {"address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};};
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
