{
    "cluster_url" = "${YT_PROXY_INTERNAL}";
    "proxy_role" = "default";
    "clients_cache" = {
        "default_connection" = {
            "enable_proxy_discovery" = %false;
            "proxy_addresses" = ["${YT_PROXY_RPC}"];
        };
    };
    "address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %true;};
    "path" = "${YT_DEV_ROOT}/at_most_once_sink/pipeline";
    "spec" = {
        "computations" = {
            "reader" = {
                "computation_class_name" = "NYT::NFlow::TSwiftPassthroughOrderedSourceComputation";
                "input_stream_ids" = [];
                "output_stream_ids" = ["data"];
                "source_streams" = {
                    "queue" = {
                        "source_class_name" = "NYT::NFlow::TQueueSource";
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/at_most_once_sink/input_queue";
                            "consumer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/at_most_once_sink/consumer";
                            "finite" = %false;
                        };
                    };
                };
                "sinks" = {
                    "queue" = {
                        "sink_class_name" = "NYT::NFlow::TAsyncQueueSink";
                        "input_stream_ids" = ["data"];
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/at_most_once_sink/output_queue";
                            "producer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/at_most_once_sink/producer";
                            "at_most_once_strategy" = {"enabled" = %true;};
                        };
                    };
                    "control_queue" = {
                        "sink_class_name" = "NYT::NFlow::TAsyncQueueSink";
                        "input_stream_ids" = ["data"];
                        "parameters" = {
                            "queue_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/at_most_once_sink/control_output_queue";
                            "producer_path" = "<cluster=${YT_CLUSTER_NAME}>${YT_DEV_ROOT}/at_most_once_sink/producer";
                        };
                    };
                };
            };
        };
        "streams" = {
            "data" = {
                "schema" = [
                    {"name" = "data"; "type" = "string"; "required" = %true;};
                ];
            };
        };
    };
    "dynamic_spec" = {
        "computations" = {
            "reader" = {
                "sinks" = {
                    "queue" = {
                        "parameters" = {
                            "at_most_once_strategy" = {
                                "suspend_destruction_duration" = "1d";
                                "total_queue_bytes_limit" = 100000000;
                            };
                        };
                    };
                };
            };
        };
        "job_tracker" = {
            "job_threads" = 4;
        };
    };
    "vanilla" = {
        "enable" = %true;
        "pool" = "${YT_POOL}";
        "worker" = {"count" = 1;};
        "node_config" = {"address_resolver" = {"enable_ipv4" = %true; "enable_ipv6" = %false;};};
        "proxy_url_aliasing_rules" = {"${YT_CLUSTER_NAME}" = "${YT_PROXY_INTERNAL}";};
    };
}
